@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive.eot');}

* { 
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding: 0px;
    line-height: 1.5em;
}

body{
    background-image: url(./img\ cv.jpg);
    border-style: groove;
    background-repeat: no-repeat;
    margin: 5% 30% 5% 20%;
} 
p{
    line-height: 1.4em;
}
div{
    
}